<% content_for(:title, "Recipes") %>


<h1> Recipes </h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>, Rating: <%= recipe.stars %></li>
  <% end %>
</ul>

<%= render('layouts/errors', object: @recipe) %>

<h3>Add a Recipe</h3>
<form action="/recipes" method="post">
  <%= render('form') %>
  <button>Create Recipe</button>
</form>
