<% content_for(:title, "#{@recipe.title} | Recipes") %>

<h1> <%= @recipe.title %> </h1>

<h3>Recipe Details</h3>
<p><%= @recipe.recipe_description %></p>
<br />
<h3> Rating </h3>
<p><%= @recipe.stars %></p>


<h3> Tags </h3>
<ul>
  <% @recipe.tags.each do |tag| %>
    <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
  <% end %>
</ul>

<p><a href="/recipes/<%= @recipe.id %>/edit">Edit</a></p>
<p><a href="/recipes/<%= @recipe.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/recipes">Return to recipe</a></p>
