<% content_for(:title, "#{@recipe.title} | Recipes") %>

<h1> <%= @recipe.title %> </h1>

<h3>Recipe Details</h3>
<p><%= @recipe.recipe_description %></p>
<h3> Rating </h3>
<p><%= @recipe.stars %></p>


<h3> Tags </h3>
<ul>
  <% @recipe.tags.each do |tag| %>
    <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
  <% end %>
</ul>

<p><%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-warning" %></p>
<p><%= link_to "Delete", recipe_path(@recipe),
      data: {confirm: "You sure?",
             method: "delete"},
      class: "btn btn-danger" %></p>

<p><%= link_to "Back to Recipes", recipes_path, class: "btn btn-info" %></p>
